<div class="text-center">
    <h1 class="display-4">Accueil</h1>
    <p>Lefebvre Tristan</p>
    <p>TP C# site web VCubWatcher</p>
</div>

<div>
    <h1 class="display-4">Avancée :</h1>
    <ul>
        <li><p><s>Avoir une application ASP.Net Core de base nommée "VCubWatcher" qui tourne sur sa machine</s></p></li>
        <li><p><s>Créer un repository public sur github, bitbucket ou gitlab pour héberger votre code.</s></p></li>
        <li><p><s>Publier votre code sur le repository à chaque avancée</s></p></li>
        <li><p><s>Supprimer du menu les pages de bases pour 2 liens de menu fonctionnels vers les pages vides suivantes : "Accueil", "Liste des stations", "Carte", "Mes favoris"</s></p></li>
        <li><p><s>Compléter la pages "Accueil" pour présenter votre travail, votre nom/prenom, cette liste d'objectifs (que vous rayerez au fur et à mesure qu'ils sont complétés) et l'URL où votre code source est visible</s></p></li>
        <li><p><s>Se brancher sur l'API Vcub de Bordeaux Métropole pour récupérer les données en temps réel</s></p></li>
        <li><p><s>Afficher les données de l'API sous forme de tableau sur la page "Liste des stations"</s></p></li>
        <li><p><s>Afficher les données de l'API sous forme de carte sur la page "Carte" (chaque station sera représentée par une épingle à son emplacement)</s></p></li>
        <li><p>Ajouter sur chaque épingle de la carte la possibilité de cliquer pour afficher une infobulle qui indiquera le nombre de vélos disponibles et de places libres à la station en question</p></li>
        <li><p>Ajouter sur la page "Liste des stations" et/ou "Carte" la possibilité de rajouter des stations en favoris</p></li>
        <li><p>Compléter la page "Mes favoris" pour n'afficher sous forme de tableau que les stations marquées en favoris</p></li>
        <li><p>Stocker les stations favorites dans les cookies de votre navigateur ou le localstorage</p></li>
        <li><p>Centrer automatiquement la carte par rapport à la position de l'utilisateur</p></li>
        <li><p>Trier automatiquement la liste des stations par rapport à la position de l'utilisateur</p></li>
        <li><p>Rendre votre application bilingue Français / Anglais</p></li>
        <li><p>Déployer votre code sur un serveur accessible publiquement en consultation</p></li>
        <li><p>Faire en sorte que votre site soit agréable à utiliser sur mobile (il ne doit pas comporter ascenseur horizontal)</p></li>
    </ul>
</div>

<a href="https://github.com/Adrrick/VCubWatcher">Code source</a>